h3{
    margin-top: 20px;
    margin-bottom: 20px;
}

input{
    margin:10px;
}

#submit_button{
    margin-top: 20px;
    margin-bottom: 20px;
}

#button_sort{
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
#display_name_with_commas{
    border:1px solid red;
    padding:10px;
    background-color:tomato;
    border-radius: 10px;
    width:50%;
}

#display_name_without_comma{
    border:1px solid green;
    padding:10px;
    background-color:greenyellow;
    border-radius: 10px;
    width:50%;
}
